[Unit]
Description=kanshi display configuration daemon
Wants=graphical-session.target
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi -c %h/.config/kanshi/config
Restart=always
RestartSec=5

[Install]
WantedBy=default.target