configuration {
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Applications";
    display-run: "Commands";
    display-window: "Windows";
    drun-display-format: "{name}";
    font: "monospace 16";
    modi: "drun,run,window";
}

@theme "dogrun"