---
# Go releases are not GPG signed by the Go team as of 2024
# See: https://github.com/golang/go/issues/14739
# Only SHA256 checksums are provided on https://go.dev/dl/

- name: Check if go exists
  stat:
    path: /usr/local/go/bin/go
  register: go_stat
  changed_when: false

- name: Download Go {{ go_version }} for bootstrap
  get_url:
    url: "https://go.dev/dl/go{{ go_version }}.linux-amd64.tar.gz"
    dest: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"
    checksum: "{{ go_checksum }}"
    mode: "0644"
  when: not go_stat.stat.exists

- name: Remove existing Go installation
  file:
    path: /usr/local/go
    state: absent
  become: yes
  when: not go_stat.stat.exists

- name: Extract Go {{ go_version }} to /usr/local
  unarchive:
    src: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"
    dest: /usr/local
    remote_src: yes
  become: yes
  when: not go_stat.stat.exists

- name: Check if go{{ go_version }} exists
  stat:
    path: "{{ ansible_env.HOME }}/go/bin/go{{ go_version }}"
  register: go_version_stat
  changed_when: false

- name: Install Go version manager
  command: go install golang.org/dl/go{{ go_version }}@latest
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin:{{ ansible_env.HOME }}/go/bin"
  when: not go_version_stat.stat.exists

- name: Check if Go {{ go_version }} is downloaded
  stat:
    path: "{{ ansible_env.HOME }}/sdk/go{{ go_version }}"
  register: go_version_downloaded

- name: Download Go {{ go_version }}
  command: go{{ go_version }} download
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin:{{ ansible_env.HOME }}/go/bin"
  when: not go_version_downloaded.stat.exists

- name: Get Go {{ go_version }} GOROOT
  command: go{{ go_version }} env GOROOT
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin:{{ ansible_env.HOME }}/go/bin"
  register: go_root_result
  changed_when: false

- name: Update GOROOT in .zshenv
  lineinfile:
    path: "{{ ansible_env.HOME }}/code/dotfiles/zsh/dot-zshenv"
    regexp: '^export GOROOT=.*'
    line: 'export GOROOT={{ go_root_result.stdout }}'
    create: yes

# golangci-lint installation
- name: Check if golangci-lint {{ golangci_lint_version }} exists
  stat:
    path: "{{ ansible_env.HOME }}/go/bin/golangci-lint"
  register: golangci_lint_stat
  changed_when: false

- name: Get installed golangci-lint version
  command: "{{ ansible_env.HOME }}/go/bin/golangci-lint version --format short"
  register: golangci_lint_installed_version
  changed_when: false
  failed_when: false
  when: golangci_lint_stat.stat.exists

- name: Create temp directory for golangci-lint download
  tempfile:
    state: directory
    prefix: golangci-lint-
  register: golangci_lint_tempdir
  when: not golangci_lint_stat.stat.exists or golangci_lint_installed_version.stdout != golangci_lint_version

- name: Download golangci-lint {{ golangci_lint_version }}
  get_url:
    url: "https://github.com/golangci/golangci-lint/releases/download/v{{ golangci_lint_version }}/golangci-lint-{{ golangci_lint_version }}-linux-amd64.tar.gz"
    dest: "{{ golangci_lint_tempdir.path }}/golangci-lint.tar.gz"
    checksum: "{{ golangci_lint_checksum }}"
    mode: "0600"
  when: not golangci_lint_stat.stat.exists or golangci_lint_installed_version.stdout != golangci_lint_version

- name: Extract golangci-lint {{ golangci_lint_version }}
  unarchive:
    src: "{{ golangci_lint_tempdir.path }}/golangci-lint.tar.gz"
    dest: "{{ golangci_lint_tempdir.path }}"
    remote_src: yes
  when: not golangci_lint_stat.stat.exists or golangci_lint_installed_version.stdout != golangci_lint_version

- name: Install golangci-lint {{ golangci_lint_version }}
  command: install -m 0755 "{{ golangci_lint_tempdir.path }}/golangci-lint-{{ golangci_lint_version }}-linux-amd64/golangci-lint" "{{ ansible_env.HOME }}/go/bin/golangci-lint"
  when: not golangci_lint_stat.stat.exists or golangci_lint_installed_version.stdout != golangci_lint_version

- name: Cleanup golangci-lint temp directory
  file:
    path: "{{ golangci_lint_tempdir.path }}"
    state: absent
  when: golangci_lint_tempdir.path is defined

